body {
  background-color: wheat;
  /* background-image: url(/img/th.webp); */
  background-repeat: no-repeat;
  background-size: cover;
}
a {
  color: brown;
}
/*
<img
src="/img/istockphoto-523698317-612x612.jpg"
alt="imagePassport"
height="150px"
width="150px"
style="border-radius: 50%"
/>
*/